body {
  color: white;
  background: #203;
  font-family: monospace;
}
.mainname {
  text-align: center;
  font-weight: 900;
  font-size: 11vmin;
  margin-top: 0;
  margin-bottom: 10px;
  color: white;
}

.hi {
  color: lightgray;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  font-size: 5vmin;
}

.mainname .exclamation {
  color: darkgray;
  font-weight: 900;
  font-size: 1em;
}

.spacer {
  color: transparent;
  user-select: none;
  cursor: default;
}

.note {
  padding: 5px 10px;
  color: #ccf;
  border-radius: 6px;
}

.section {
  font-size: 3vmin;
  margin-bottom: 10px;
  color: white;
  padding: 20px;
  background: #449;
  border-radius: 10px;
  border: #88f 3px solid;
  box-shadow: 5px 5px 5px #00001c;
}

.background {
  background: #224;
  border-color: #558;
}

.url {
  text-underline-offset: 0.3em;
  background: #56a;
  border-color: #89f;
  cursor: pointer;
  text-decoration: underline;
}

.url:hover {
  background: #67b;
}

.collapsable:hover {
  background: #55a;
}

.trigger {
  background: #755;
  border-color: #744;
}

.trigger:hover {
  background: #866;
}

.trigger summary > .note {
  color: #edd;
}

.emoji {
  margin: 0;
  padding: 3px;
  border-radius: 100%;
  background: #667;
  float: right;
}
